Shadowlands/Random Location/*.lua
Shadowlands/The Necrotic Wake/*.lua
Shadowlands/Plaguefall/*.lua
Shadowlands/Torghast Start/*.lua
Shadowlands/_Arkoban Hall/*.lua
Shadowlands/_The Soulforges/*.lua
Shadowlands/_The Soulforges/*.lua
Shadowlands/_The Upper Reaches/*.lua
Shadowlands/Halls of Attonement/*.lua
Shadowlands/2 Halls of Attonement/*.lua
Shadowlands/Mists of Tirna Scithe/*.lua
Shadowlands/Torghast Start/utils.lua
Shadowlands/_The Fracture Chambers/*.lua
Shadowlands/Bastion/*.lua
Shadowlands/Training Dummy/*.lua